/**A.1-mise en place police*/
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Dancing+Script:wght@400;500;700&display=swap");

/**B.1-body(ff/m/p/ta)-ul(m/p)-li(lst)-h2(tt/pt/fs)-a(td/c)*/
body {
	font-family: "Advent Pro", sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
h2 {
	text-transform: uppercase;

	padding-top: 30px;
	font-size: 2em;
}
a {
	text-decoration: none;
	color: #000;
}
/* ******************************NAVBAR***************** */
/**C.1-nav(o/bgc/pos/w/opa*/
nav {
	overflow: hidden; /*Cache ce qui dépasse*/
	background-color: #fffae1;
	position: fixed;
	width: 100%;
	opacity: 0.9;
}
/**C.1.2-li(fl/fs)-a(td/d/p)-logo*/
header li {
	float: right;
	font-size: 1.2em; /*em s'adapte a taille de l'écran*/
}
header li a {
	text-decoration: none;
	display: block;

	padding: 18px 16px;
}
#logo {
	font-family: "Dancing Script", cursive;
	font-weight: bold;
	float: left;
}
/* ****************************** IMAGE PRINCIPALE***************** */

/**D.1-imgpr(pt/bg/bgs/h)-h1(ff/c/fs/mt/tsh)-fline(h/w/m/bgc/bsh)-h3(ta/c/fsi/tsh)*/
#imgPrincipal {
	padding-top: 60px;
	background: url(Assets/media/image-principale.JPG) no-repeat fixed 50% 50%; /*50% pour centrer et fixed pour scroller sans l'img*/
	background-size: cover; /*couvre tout qq soit la largeur*/
	height: 799px;
}
h1 {
	font-family: "Dancing Script", cursive;

	color: antiquewhite;
	font-size: 6em;
	margin-top: 100px;
	text-shadow: 1px 3px 2px orange;
}
.firstLine {
	height: 1px;
	width: 25%;
	margin: -3px auto;
	background-color: #fffae1;
	box-shadow: 1px 3px 2px orange;
}
h3 {
	color: antiquewhite;
	font-size: 3em;
	text-shadow: 1px 3px 2px orange;
}
/* ****************************** PRESENTATION***************** */

/**E.1-#pres(bgc/p)-#tInf(p)-#presta(d/fw/jc/p)-h4(ff/fsi/m/fw)-img(br/bsh)-img:hov(opa/transf/transi)*/
#presentation {
	background-color: #fffae1;
	padding: 10px 0px 100px 0px;
}
#textIntro {
	padding: 0px 20%;
}
#prestations {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 10%;
}
.imagesPrestations h4 {
	font-family: "Dancing Script", cursive;
	font-size: 1.8em;
	margin: 15px;
	font-weight: 300;
}
.imagesPrestations img {
	border-radius: 10px;
	box-shadow: 5px 5px 3px 1px rgba(255, 166, 0, 0.705);
}
.imagesPrestations img:hover {
	opacity: 0.5;
	transform: scale(1.05);
	transition: 0.6s ease-in-out;
}
/* ******************************TOURISM***************** (1h30m)*/
/**F.1-#tour(h/bgc/p)-h2(pt)-#ocean...()*-li(m/h/w/mw/fl/bsh)*/
#tourism {
	height: 1400px;
	background-color: #f1f2f6;
	padding: 1px 2%; /*petit ecart entre section préc et celle ci d'ou padding pour annuler*/
}
#tourism h2 {
	padding-top: 60px;
}
#ocean {
	background: url(/Assets/media/ocean.jpg);
}
#castle {
	background: url(/Assets/media/chateau.JPG);
}
#lighthouse {
	background: url(/Assets/media/phare.JPG);
}
#vineyard {
	background: url(/Assets/media/vignes.jpg);
}
#tourism li {
	margin: 65px 100px 0 100px;
	height: 226px;
	width: 55%;
	max-width: 550px;
	float: left;
	box-shadow: 6px 6px 28px -1px rgba(255, 166, 0, 0.705);
}
/**F.2-p(h/w/bgc/fl/m/fs/pt/bsh)-#castle,#vineyard(fl)-#castle p,#vineyard p(fl/bgc/ml/bsh)(1h37m39)*/
#tourism p {
	height: 45px;
	width: 235px;
	background-color: #01df74;
	float: right;
	margin: 50px -180px 0 0; /*décallage des titre des img car m=-180px à dte*/
	font-size: 1.5em;
	padding-top: 15px;
	box-shadow: 4px 4px 0 1px rgba(90, 161, 43, 1);
}
#tourism #castle,
#tourism #vineyard {
	float: right;
}
#castle p,
#vineyard p {
	float: left;
	background-color: cyan;
	margin-left: -180px;
	box-shadow: -4px 4px 0 1px rgba(15, 154, 156, 1); /*inversion du txt avec valeur négative*/
}
